/* styles.module.css */

.navItem {
  position: relative;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
}

.underline {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
}

.navItem:hover .underline {
  transform: translateX(0);
}