.img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: 100%;
}

.section{
  height: 100vh;
 overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  overflow: hidden;
}


.row{
  display: flex;
  width: 100%;
  height: calc(100% / 3 );
}
.direction, .opposite-direction {
    display: flex;
    will-change: transform;

}
.frame {
    flex: 0 0 350px;
    height: 100%;
    padding: 20px 10px;
}

.frame img{
    border-radius: 20px;
}