@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* Nasconde la scrollbar per Chrome, Safari e browser basati su Chromium */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Nasconde la scrollbar per Firefox e IE/Edge */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
/* Nasconde la scrollbar per IE, Edge e Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html.hide-scrollbar-gallery,
body.hide-scrollbar-gallery {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.hide-scrollbar-gallery::-webkit-scrollbar,
body.hide-scrollbar-gallery::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.outro-section {
  background: #000; /* Fondamentale: sfondo solido */
  position: relative;
  z-index: 10;
}


/* globals.css */

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  /* Rimuoviamo will-change se non strettamente necessario, 
     ma teniamolo se noti scatti nell'animazione */
}

::view-transition-new(root),
::view-transition-old(root) {
  /* Fondamentale: annulla le animazioni CSS predefinite 
     per usare quelle via JS */
  animation: none !important;
  height: 100%;
  width: 100%;
}

::view-transition-new(root) {
  z-index: 2; /* La nuova pagina deve stare sopra */
}

::view-transition-old(root) {
  z-index: 1; /* La vecchia pagina sta sotto */
}