
.paragraph {
  display: flex;
  font-size: clamp(35px, 10vw, 90px);
  line-height: 1;
  margin-bottom: 300px;
  padding: 40px;
  color: white;
  flex-wrap: wrap;
}

.word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15; /* NON percentuale */
}

