.wrapper {
  position: relative;
  width: 220px;
  height: 220px;
}

.svg {
  width: 100%;
  height: 100%;
  animation: spinSlow 25s linear infinite;
}

.text {
  fill: rgb(112, 111, 111);
  letter-spacing: 3px;
  font-weight: 500;
}

.centerImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;       
  height: 80px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
